.App {
  text-align: center;
  height: 100vh;
  background: violet;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}

label {
  display: block;
  padding: 10px;
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
}

.select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.dropdown-btn {
  background-color: rgb(7, 130, 7);
  padding: 5px 15px;
  margin: 12px 0 0 0;
  color: #fff;
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
  border-radius: 2px;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
}

.options h4 {
  margin: 0;
  padding: 4px 8px;
  cursor: pointer;
}

.options p {
  border-bottom: 0.1px solid #000;
  width: 90%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.result {
  margin: 0;
  padding: 0px 20px;
  background-color: #e0dbdf79;
  border-radius: 30px;
  font-family: "Courier New", Courier, monospace;
}

.clear {
  background-color: rgb(203, 39, 39);
  margin-top: 10px;
  padding: 5px 10px;
  color: #fff;
  font-size: 0.85rem;
  border: none;
  border-radius: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  cursor: pointer;
}
